body{
    background-color: black;
}
.containerBanner{
    background-image: url('img/banner02.jpg');
    background-size:cover;
    background-position:center top;
     width: inherit; 
     height: 40vh; 
     display: flex; 
     justify-content: center; 
     align-items: center;
}
.title{
    position: absolute;
    color: white; 
    font-size: 250%;
}